/* You can add global styles to this file, and also import other style files */
.show {
    display: block;
}
.hidden {
    display: none;
}
.modal {
    z-index: 1000;
    position: fixed;
    top: 30px;
    bottom: 0;
    left: 300px;
    width: 500px;
    background: #fff;
    margin: 40px;
    padding: 20px;
}
.modal-background {
    z-index: 900;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.95;
}